* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

body{

background-image: url(the\ witcher\ hell.png);
height: 100vh;
width: 100vw;
background-repeat: no-repeat;   
}

.background-main{
 
background-image: url(the\ witcher\ kavil2.png);
background-repeat: no-repeat;
position: absolute;
top: 58px;
left: 601px;
width: 719px;
height: 1022px;
opacity: 1; 
}

.header{
display: flex;
align-items: center ;
margin-top: 1rem;  
}

.header-menu{
margin-left: 35rem;  
}

.logo-header{
margin-left: 7rem;
width: 54px;
height: 96px;
}

.h1{
 
width: 240px;
height: 20px;
text-align: left;
font: normal normal normal 20px/24px 'Montserrat';
letter-spacing: 0.6px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
margin-left: 3rem;
}

.ul{

display: flex;
justify-items: space-around;
}

.universe-style{

text-decoration: none ;  
font: normal normal bold 30px/28px;
letter-spacing: 0.8px;
color: #FFFFFF;
text-transform: uppercase;
}

a{
font: normal normal normal 20px/24px;
letter-spacing: 0.6px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
text-decoration: none
}

.header-menu li{
  
display: flex; 
margin: 2rem;  
display: inline-block;
text-decoration: none ;
}

.logo-main{

width: 434px;
height: 216px;
margin-top: 29rem;
margin-left: 9rem;
}

.bottom{
width: 338px;
height: 67px;
margin-left: 12rem;
margin-top: 1rem;
}

p{
position: absolute;
top: 1028px;
left: 34px;
width: 700px;
height: 38px;
text-align: left;
font: normal normal 600 15px/19px ;
letter-spacing: 0.45px;
color: #FFFFFF;
}